// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#tasks {
  padding-left: 0;
  list-style-type: none;
}

.container {
  background: #f4f7f8;
  padding: 16px;
  margin: auto;
  width: 20%;
  border: 1px solid lightgrey;
  border-radius: 8px;
  box-shadow: 8px 8px 8px 0px rgba(224,224,224,1);
}

h1 {
  text-align: center;
  text-shadow: 2px 2px 5px lightgrey;
}
 ul li {
   padding-left: 180px;
 }

 .fa {
   text-align: center;
 }